
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 9rem;//144px
    line-height: 11rem;//176px
    text-transform: uppercase;
    color: white;
}

h2 {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;//30px
    line-height: 2.68rem;//43px
    color: #2D3033; 
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;//24px
    line-height: 2.18rem;//35px
    text-transform: uppercase;
    color: #2D3033;
}

h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 2.25rem;//36px
    line-height: 2.62rem;//42px
    text-transform: uppercase;
    color: #2D3033;
}

h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;//18px
    line-height: 1.31rem;//21px
    color: #2D3033;
}

h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #2D3033;
}

a {//кнопки навигации в banner
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px; 
    text-transform: uppercase;
}

.line-under-heading {//линия под заголовком
    margin: 0 auto;
    width: 100%;
    max-width: 170px;
    height: 4px;
    background: rgb(243, 130, 129);
}

.line-under-comment {//линия под комментариями
    width: 100%;
    max-width: 70px;
    height: 4px;
    background: rgb(243, 130, 129);
}

.banner__text {//для шрифта Kaushan Script в banner
    color: white;
    font-size: 4rem;//64px
    line-height: 7.75rem;//93px
}

.slider__coment {//шрифт коментариев в слайдерах h5
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: rgb(169, 175, 177);
                                
}

.servies__label-text {//шрифт заголовков в servies
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;//24px
    line-height: 2.18rem;//35px
    text-transform: uppercase;
    color: #2D3033;
}

.futures__text {//шрифт для futures
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-transform: none;
    span {
        font-size: 64px;
        font-weight: 700;
    }
}

.ourTeam__UserWork, .happyClients__UserWork {//капс для текста
    text-transform: uppercase;
}

.footer__item {//для иконок footer в banner
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(249, 239, 207);
    span {
        font-weight: 700;
        font-size: 36px;
    }
    
}

.ourStories__text {//для иконки даты и месяца
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    span {
        font-weight: 700;
        font-size: 36px;
    }
}

.map__text {//цвет текста в map
    color: rgb(243, 130, 129);
}

.blog__logo {//для заголовка blog в footer
    padding: 0.9375rem 0;
    line-height: 4.375rem; 
}

.instagram__logo {//для заголовка instagram в footer
    padding: 0.9375rem 0;
    line-height: 4.375rem;
}

.instagram__footer {//для подписи под instagram в footer
    font-weight: 400;
    text-decoration: underline;
    padding: 0.9375rem 0;
    line-height: 4.375rem;
    text-transform: uppercase; 
}
.blog__footer {//для заголовка blog в footer
    font-size: 1.125rem;//18px
    line-height: 21px;
    padding: 4px 0;
}
.blog__footer-2 {//для дат под заголовками в footer
    font-size: 13px;
    line-height: 14px;
    padding: 10px 0;
}

.mogoSocial__footer {//цвет текста для mogo в footer
    color: rgb(198, 203, 205);
}

.mogoSocial__followers {// 15k followers в footer
    font-size: 36px;
    margin: 20px 0;
    .followers-k {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
    }
    span {
        font-family: 'Raleway';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;


    }
}

.mogoSocial__follow {//надпись follow us в footer
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    color: rgb(198, 203, 205);
}


.banner__button {//кнопка в banner
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;//24px
    line-height: 1.75rem;//28px
    color: white;
    background: none;
    border: 4px solid white;
    padding: 1.375rem 0;
    max-width: 370px;
    width: 100%;
    &:hover {
        background: white;
        color: rgb(228, 190, 141);
    }
    &:active {
        background: white;
        border: 4px solid rgb(228, 190, 141);
        color: rgb(228, 190, 141);
    }
}

.footer__button {//кнопка в footer
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: white;
    text-transform: uppercase;
    background: rgb(149, 225, 211);
    max-width: 133px;
    width: 100%;
    height: 100%;
    transform: scale(1.04);
    &:hover {
        background: rgb(135, 210, 196);
    }
    &:active {
        background: rgb(92, 149, 138);
    }
}

::placeholder {// для input в footer
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: rgb(198, 203, 205);
    font-size: 1.125rem;//18px
    text-align: center;
}

